.title{
font-family: 'yellowtail', cursive;
color: #ff4a83;
font-size: 35px;
}

.nav-main{
color: #ff4a83 !important;
text-transform: uppercase;
font-weight: bolder;
margin-right: 20px;
}

.dropdown-item{
color: #ff4a83;    
}

.carousel-caption h5{
font-family: 'yellowtail', cursive;
color: #ff4a83;
font-size: 70px;
text-shadow: 1px 1px 2px black;
}

.display-4{
color: #ff4a83;
font-weight: 400;     
}

.jumbotron{
background-color: #ff4a83;   
font-family: 'yellowtail', cursive;   
}

.contenedor img{
width: 100%;    
}

.overlay{
position: absolute;
top: 50%;
left: 50%;
font-family: 'yellowtail', cursive;
color: #ff4a83;
font-size: 30px;   
}


.ctr{
position: absolute;
transform: translate(-50%, -50%);
text-align: center;
}

.serv{
filter: brightness(0.4);    
}

.serv:hover{
filter: brightness(0.3);
}

.footer{
background-color: #353a40;
margin-top: 50px;    
}

.footer p{
color: white; 
margin-top: 20px;   
}